:root {
  --main-bg-color: #9cdb9f;
  --main-bg-primary: #40af46;
  --main-bg-white: #ffffff;
}

body {
  /*background-image: url(fone.png);/*
  /*background-repeat: repeat;/*
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
}

.error {
  border-bottom: 2px solid #ff4332;
}

.msg {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.header {
  min-height: 100px !important;
  background-color: var(--main-bg-white);
}