:root {
  --main-bg-color: #7A6C45;
  --main-bg-primary: #40af46;
  --main-bg-white: #ffffff;
  --main-bg-gold: #a18a56;
  --main-bg-black: #171717;
}

body {
  /*background-image: url(fone.png);/*
  /*background-repeat: repeat;/*
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
}

* {
  font-family: 'Russo One', sans-serif;
}

body {
  background-image: url('../static/background.jpg');
  background-size: cover;
}

.error {
  border-bottom: 2px solid #ff4332;
}

.msg {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.header {
  min-height: 70px !important;
}

.cartheader {
  min-height: 70px !important;
  width: 100vw;
  /*position: fixed;*/
  display: flex;
  align-items: start;
  justify-content: center;
  /*padding-top: 30px;/*
  /*bottom: 0px;
  z-index: 1000;*/
  background-color: var(--main-bg-black);
  background: linear-gradient(180deg, rgba(23,23,23,1) 50%, rgba(255,255,255,0) 100%);
}

.footer {
  min-height:100px;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 30px;
  bottom: 0px;
  z-index: 1000;
  background-color: var(--main-bg-black);
  background: linear-gradient(0deg, rgba(23,23,23,1) 50%, rgba(255,255,255,0) 100%);
}

.footer>h1 {
  font-size: 80px;
  color: var(--main-bg-gold);
  opacity: 0.5;
}
